<% provide(:title, 'Log-in')%>

<section class="sign_in_up">
  <div class="auth_form_wrapper">
    <div class="cover_deco_auth">
      <%= image_tag(asset_path("default.jpg")) %>
    </div>
    <div class="form_header">
      <h1>LOG-IN</h1>
    </div>
    <div class="auth_form">
      <div class="form_container">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              
              <%= f.label :remember_me %>
              <%= f.check_box :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

        <div class="links">
          <p><%= render "users/shared/links" %></p>
        </div>

      </div>

    </div>
  </div>
</section>