<% provide(:title, 'Article')%>

<section class="article_show">

  <div class="article_show_wrapper">

        <div class="article_show_image">
            <%= show_image_article(@article) %>
        </div>

        <div class="article_show_category">
          <%= link_to category_path(@article.category) do %>
              <%= @article.category.name %>
          <% end %>
        </div>

        <div class="article_show_title">
          <p><%= @article.title %></p>
        </div>

        <div class="article_show_header">
          <span>By</span>
          <%= link_to user_path(@article.author), class: 'article_show_link' do %>
              <%= @article.author.name %>
          <% end %>

          <% if @article.votes_count > 0 %>
              <span>|</span>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
              </svg>
              <span class="votes_count">
                <%= @article.votes_count %>
              </span>
          <% end %>

        </div>

        <div class="article_show_content">
          <div class="article_show_content_wrapper">
            <p><%= @article.text %></p>
          </div>
        </div>

        <div class="article_show_foot voting_wrapper">
              <%=  voting(@article) %>
        </div>

  </div>

  <% if logged_in_author?(@article) %>
    <%= render 'author_tools', article: @article %>
  <% end %>

</section>