<% provide(:title, 'Home')%>
<section class="home_articles">
  <div class="hero_article">
    <% if @hero_article.present? %>
          <%= image_tag @hero_article.image%>
          <%= link_to(@hero_article) do %>
            <div class="text">
              <p class="title"><%= @hero_article.title %></p>
              <p class="content">
                  <%= truncate(@hero_article.text, :omission => "...", :length => 300) %>
              </p>
            </div>
         <% end %>
    <% else %>
            <%= image_tag(asset_path("default.jpg"))%>
            <a href='#'>
              <div class="text">
                <p class="title">Photosynthese blog</p>
                <p class="content">More articles soon...</p>
              </div>
            </a>
    <% end %>
  </div>
  <div class="latest_article">
    <% if @article_latest.present? %>
          <%= image_tag @article_latest.image %>
          <%= link_to @article_latest, class: 'text' do %>
              <p>Read the latest article </p>
              <p>by <%=@article_latest.author.name%> :</p>
              <p><%= @article_latest.title %></p>
          <% end %>
    <% else %>
          <%= image_tag(asset_path("default.jpg")) %>
          <a href='#' class="text">
              <p>More articles soon...</p>
          </a>
    <%end%>
  </div>
  <div class="articles_wrapper">
      <% if @important_categories.empty? %>
          <% 4.times do %>
              <div class="article">
              <%= image_tag(asset_path("default.jpg"))%>
              <%= link_to categories_path , class: 'category' do %>
                  Category
              <% end %>
              
              <a href='#' class='title'>
                  <p>More articles soon...</p>
              </a>
              </div>
          <% end %>
      <% else %>
          <%= render partial: 'home/category_caption', collection: @important_categories, as: :category %>
      <% end %>
  </div>
</section>
