<% provide(:title, 'Reset Password')%>

<section class="sign_in_up">
  <div class="auth_form_wrapper">
    <div class="cover_deco_auth">
      <%= image_tag(asset_path("default.jpg")) %>
    </div>
    <div class="form_header">
      <h1>Forgot your password?</h1>
    </div>
    <div class="auth_form">
      <div class="form_container">

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="actions">
                <%= f.submit "Send me reset password instructions" %>
              </div>
            <% end %>

            
            <div class="links">
              <p><%= render "users/shared/links" %></p>
            </div>

      </div>

    </div>
  </div>
</section>
