<% provide(:title, @category.name )%>

<section class="category_section">

    <% if @articles.empty? %>

        <div class="category_last_article_wrapper">
          <div class="category_last_article_img">
            <%= image_tag(asset_path('default.jpg')) %>
          </div>
          <div class="category_last_article_content">
            <p class="category_last_article_name">
              <%= link_to categories_path do %>
                  <%= @category.name %>
              <%end%>
              <p class="category_last_article_hero_title">More articles soon in this category ...</p>
            </p>
          </div>
        </div>

    <% else %>
      <% @articles.each_with_index do |article, index| %>

        <div class="category_last_article_wrapper">
          <div class="category_last_article_img img<%= index %>">
            <%= image_tag(article.image) %>
          </div>
          <div class="category_last_article_content content<%= index %>">
            <p class="category_last_article_name">
              <%= link_to categories_path do %>
                  <%= @category.name %>
              <%end%>
              <p class="category_last_article_hero_title"><%= article.title %></p>
              <p class="category_last_article_hero_content">
                  <%= truncate(article.text, :omission => "...", :length => 200) %>
              </p>
              <div class="caption_foot">

                  <%= link_to 'Read more..', article_path(article), class: 'readmore' %>

                <div class="category_last_article_votes">
                  
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                  </svg>
                  <%= article.votes_count %>

                  <%= link_to 'like', article_path(article), class: 'like', method: :post%>

                  |

                  <%= link_to 'Dislike', article_path(article), class: 'dislike', method: :delete %>
                </div>
              </div>
            </p>
          </div>
        </div>

      <% end %>
    <% end %>

</section>
