<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Photosyntèse Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />

  </head>

  <body>
    <%= render 'shared/navigation' %>
    <%= render 'shared/alert' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
